body{
     background-color: #353839; 
     margin: 0;
     font-family: 'Helvetica', 'Arial', sans-serif;
     font-size: 20px;
     line-height: 30px;
     color: white;
}

header {
	background-color: #ffdf00;
        text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	
        .raleway-<uniquifier> {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
  }
}

header h1{
	color: #0b3ba0;
        font-size: 50px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid white;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: #0b3ba0;
	margin: 40px 0 10px;
}

a{
        color: #0b3ba0;
}

a:hover{
	color: #ffdf00;
	background-color: #0b3ba0;
}

footer {
        background-color: #d20504;
	text-align: center;
	color: black;
	padding: 40px;
}

footer p{
	margin: 0;
}

footer a {
	color: #0b3ba0;
}

footer a:hover{
	opacity: 0.5;
	color: #ffdf00;
        background-color: transparent;
}

p.caption{
	color: #ffdf00;
        font-style: italic;
	margin-top: 0;
}
